body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.px1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

canvas {
    display: block;
    touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}